<!--
**Html-ul care contine pagina de editare a angajatilor
*@author Paunita Eduard-Andrei 332AA
*@version 23 Decembrie 2024
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <title>Edit Angajat</title>
    <link rel ="stylesheet" type="text/css" href="/css/StyleEdit.css">
</head>
<body>
<div class="container">
    <h1>Edit Angajat</h1>
    <form th:action="@{/angajati/edit/{id}(id=${angajat.idAngajat})}" method="post" th:object="${angajat}">
        <div class="form-group">
            <label for="nume">Nume:</label>
            <input type="text" id="nume" th:field="*{nume}" required>
        </div>
        <div class="form-group">
            <label for="prenume">Prenume:</label>
            <input type="text" id="prenume" th:field="*{prenume}" required>
        </div>
        <div class="form-group">
            <label for="functie">Functie:</label>
            <input type="text" id="functie" th:field="*{functie}" required>
        </div>
        <button type="submit" class="btn btn-submit">Update</button>
        <a href="/angajati/view" class="btn btn-back">Back</a>
    </form>
</div>
</body>
</html>


