<!--
**Html-ul care contine pagina de adaugare a curierilor
*@author Paunita Eduard-Andrei 332AA
*@version 23 Decembrie 2024
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Curier</title>
    <link rel ="stylesheet" type="text/css" href="/css/StyleAdd.css">
</head>
<body>
<div class="container">
    <h1>Add New Curier</h1>
    <form action="/curier/add" method="post" th:object="${curier}">
        <div class="form-group">
            <label for="numeCurier">Nume Curier:</label>
            <input type="text" id="numeCurier" th:field="*{numeCurier}" required>
        </div>
        <div class="form-group">
            <label for="prenumeCurier">Prenume Curier:</label>
            <input type="text" id="prenumeCurier" th:field="*{prenumeCurier}" required>
        </div>
        <div class="form-group">
            <label for="firma">Firma:</label>
            <input type="text" id="firma" th:field="*{firma}" required>
        </div>
        <button type="submit" class="btn btn-submit">Save</button>
        <a href="/curier/view" class="btn btn-back">Back</a>
    </form>
</div>
</body>
</html>