<!--
**Html-ul care contine pagina de adaugare a categoriilor de produse
*@author Paunita Eduard-Andrei 332AA
*@version 6 Ianuarie 2025
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Categorie Produse</title>
    <link rel ="stylesheet" type="text/css" href="/css/StyleAdd.css">
</head>
<body>
<div class="container">
    <h1>Add New Categorie</h1>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <form action="/categorii_produse/add" method="post" th:object="${categorieProduse}">
        <div class="form-group">
            <label for="denumire">Denumire:</label>
            <input type="text" id="denumire" th:field="*{denumire}" required>
        </div>
        <button type="submit" class="btn btn-submit">Save</button>
        <a href="/categorii_produse/view" class="btn btn-back">Back</a>
    </form>
</div>
</body>
</html>